.contenedor {
    display: flex;
    justify-content: center;  /* centra horizontalmente */
    align-items: center;      /* centra verticalmente */
    /*height: 100vh;            /* ocupa toda la altura de la ventana */
  }
  
  .contenedor img {
    max-width: 100%;
    height: auto;
  }

  body {
    background-color: black;
    color: white; /* Opcional: para que el texto sea visible */
  }